.blog {
      position: absolute;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      gap: 4px;

      display: none;

      width: inherit;
	height: max-content;

      z-index: 1;
}

.blog-header {
      align-items: center;
      justify-content: center;

      display: flex;

      border-radius: 8px 8px 0px 0px;
      box-sizing: border-box;
      width: inherit;
      height: 64px;
      padding: 12px;

      background: #2a2a2a;
}
.blog-title {
      border-radius: 8px;
	padding: 8px;

      background: #555555;

      font-size: 24px;
      font-weight: bold;

      text-align: center;
}

.blog-content {
      overflow-y: auto;

      flex-direction: column;
      align-items: center;
      justify-self: center;
      gap: 4px;

      display: flex;

      border-radius: 0px 0px 8px 8px;
      box-sizing: border-box;
      width: inherit;
      height: 652px;
      padding: 24px;

      background: #2a2a2a;
}

p {
      padding: 16px 64px 64px 64px;

      font-size: 1.10em;
      text-align: center;
}