@keyframes jumpy {
	0%   { animation-timing-function: ease-out; transform: translateY(0px);    }
	25%  { animation-timing-function: ease-in;  transform: translateY(-8px); }
	50%  { animation-timing-function: ease-out; transform: translateY(0px);    }
	85%  { animation-timing-function: ease-in;  transform: translateY(-2px); }
	100% { animation-timing-function: ease-out; transform: translateY(0px);    }
}









.profile
{
      flex-direction: column; 
	align-self: start;
	row-gap: 4px;

	display: flex;

	width: 384px;
	height: max-content;

	/* Must "align-self: start;" and use this calc if height is not identical to blog height */
	margin-top: calc(((100vh - 728px) * 0.5) - 32px);

	cursor: default;
}
.profile > *
{
	padding: 24px;

	background: #2a2a2a;
}
.profile div:first-child
{
	border-radius: 8px 8px 0 0;
}
.profile div:last-child
{
	border-radius: 0 0 8px 8px;
}



.identity
{
	flex-direction: column;
	row-gap: 16px;

	display: flex;
}
.portrait
{
	border-radius: 96px;
	width: 192px;
	height: 192px;
}
.name
{
	font-size: 32px;
	font-weight: bold;
	color: white;
}



.social-links
{
	flex-direction: row;
	column-gap: 8px;

	display: flex;
}
.social-links a img
{
	width: 24px; 
	height: 24px;
}
.social-links a:hover
{
	animation-name: jumpy;
	animation-duration: 500ms;
}



.bio
{
	font-size: 16px;
	color: rgba(255, 255, 255, 0.75)
}



.skills
{
	flex-direction: column;
	row-gap: 16px;

	display: flex;
}
.skills-title
{
	width: max-content;
	
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.skills-items
{
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 4px;
	row-gap: 8px;

	display: flex;
}
.skill-item
{
	border-radius: 8px;
	padding: 8px;

	background: #555555;

	font-size: 16px;
	color: rgba(255, 255, 255, 0.75)
}
.skill-item:hover
{
	animation-name: jumpy;
	animation-duration: 500ms;
}









.blogs
{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	gap: 8px;

	display: flex;

	overflow-y: scroll;

	/* margin-top: 64px; */
	box-sizing: border-box;
	width: 864px;
	height: 728px;
}



.blog-entry
{
	all: unset;

	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;

	display: flex;

	border-radius: 8px;
	box-sizing: border-box;
	width: 384px;
	max-width: 384px;
	height: 176px;
	padding: 16px;

	background: #2a2a2a;
	cursor: pointer;
}
.blog-entry-title
{
	width: 50%;
	margin-bottom: 8px;
	
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.blog-entry-date
{
	margin-bottom: 16px;

	font-size: 10px;
	color: rgba( 255, 255, 255, 0.75);
}
.blog-entry-description
{
	margin-bottom: 16px;
	width: 50%;

	font-size: 12px;
	color: rgba( 255, 255, 255, 0.5);
}
.blog-entry img
{
	position: absolute;
	top: 0;
	right: 0;

	height: 176px;
	border-radius: 0 8px 8px 0;


	aspect-ratio: 1;
	object-fit: cover;
}
.blog-entry:hover
{
	animation-name: jumpy;
	animation-duration: 500ms;
}










@media only screen and (max-width: 1344px)
{
	.blogs
	{
		width: 384px;
	}
}