.profile {
      flex-direction: column; 
	row-gap: 4px;

	display: flex;

	width: 384px;
	min-width: 384px;
	height: max-content;

	cursor: default;
}
/* Direct children */
.profile > * {
	padding: 16px;

	background: #2a2a2a;
}
.profile div:first-child {
	border-radius: 8px 8px 0 0;
}
.profile div:last-child {
	border-radius: 0 0 8px 8px;
}


.identity {
	flex-direction: column;
	row-gap: 16px;
	align-items: center;

	display: flex;
}
.portrait {
	border-radius: 96px;
	width: 192px;
	height: 192px;

	pointer-events: none;
}
.name {
	font-size: 32px;
	font-weight: bold;
}
.career {
	font-size: 16px;
}


.social-links {
	flex-direction: row;
	column-gap: 8px;

	display: flex;
}
.social-links a img {
	width: 24px; 
	height: 24px;
}
.social-links a:hover {
	animation-name: jumpy;
	animation-duration: 500ms;
}


.skills {
	flex-direction: row;
      flex-wrap: wrap;
	column-gap: 4px;
	row-gap: 8px;
      justify-content: center;

	display: flex;
}
.skill-item {
	border-radius: 8px;
	padding: 8px;

	background: #555555;

	font-size: 16px;
}
.skill-item:hover {
	animation-name: jumpy;
	animation-duration: 500ms;
}