.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	row-gap: 8px;

	width: 384px;
	height: 99%;
}

.profile {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	margin-left: 16px;
	padding: 24px;

	background-color: #2a2a2a;
	border-radius: 8px 8px 0 0;
}
.profile img {
	width: 192px;
	height: 192px;

	border-radius: 96px;
}
.profile span {
	color: white;
	font-size: 32px;
	font-weight: bold;
}

.links {
	display: flex;
	column-gap: 8px;
}
.links img{
	margin-bottom: 0;
	width: 24px; 
	height: 24px;
}

.skills, .description {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	padding: 24px;
	margin-left: 16px;

	background-color: #2a2a2a;
}
.description { border-radius: 0 0 8px 8px; }
.skills-flex {
	display: flex;
	flex-direction: row;
	column-gap: 4px;
}
.skills-flex span, .description span:last-child
{
	padding: 8px;

	color: white;
	font-size: 16px;
	background-color: #555555;
	border-radius: 8px;
}
.description > span:first-child, .skills > span:first-child
{
	width: max-content;
	
	color: white;
	font-size: 24px;
	font-weight: bold;
}