:root
{
	color-scheme: dark; /* Scrollbar */
}

/* 
	Profile and blogs are placed at each side respectively.
	Profile remains at the top and blogs wrap below it on mobile.
*/
main
{
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 32px;

	display: flex;

	box-sizing: border-box;
	min-height: 100vh;
	padding: 32px;

	background: #111111;

	font-family: 'Roboto', sans-serif; /* Default font */
}

@media only screen and (max-width: 904px)
{
	main
	{
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: start;
		align-items: start;
	}
}