@font-face
{
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

:root
{
	color-scheme: dark;
}

main
{
	flex-wrap: wrap;
	justify-content: space-between;

	display: flex;

	box-sizing: border-box;
	min-height: 100vh;
	padding: 32px 32px 0 32px;

	background: #111111;

	font-family: 'Roboto'; /* Default font */
}

/* Shared */
.profile, .blog
{
	gap: 8px;

	display: flex;

	width: 384px;
	min-width: 384px;
	height: max-content;
}
.profile
{
	flex-direction: column; 
}
.blog
{ 
	flex-direction: row;
	flex-wrap: wrap;

	width: max-content;
}

.blog-item
{
	align-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 16px;

	display: flex;

	border-radius: 8px;
	box-sizing: border-box;
	width: 512px;
	height: 256px;
	padding: 24px;

	background: #2a2a2a;
}
.blog-item span:first-of-type
{
	width: max-content;
	
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.blog-item span:last-of-type
{
	border-radius: 8px;
	box-sizing: border-box;
	padding: 8px;

	background: #555555;

	font-size: 16px;
	color: white;
}